cachetools
fastapi
gitpython
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-bigquery
google-cloud-essential-contacts
google-cloud-logging
hvac
pydantic
python-dotenv
requests
urlparse2
uvicorn[standard]
